.about_page hr{
    width: 90%;
    margin: auto;
    border: 2.5px solid black;
    border-style: dashed;
}

#about, #vision, #team{
    box-shadow: 0px 0px 10px 0px;
    border-radius: 10px;
    width: 90%;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

#about p, #vision p, #team p{
    font-size: 20px;
    font-family: "Ubuntu";
    margin-top: 10px;
    padding-bottom: 20px;
}