*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: black;
}

header{
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 80%;
    margin: auto;
}

header .logo{
    font-size: 40px;
    font-family: "Dancing Script";
    margin-top: 0px;
    color: white;
}

header .nav nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

header .nav nav ul a{
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    margin-top: 10px;
}

header .nav nav ul a:hover{
    background-color: white;
    color: black;
}

header .search_bar{
    margin-top: 10px;
}

header .search_bar input{
    padding: 10px;
    border-radius: 10px;
    border: none;
}